.navbar {
    background-color: lightslategray;
    height: 100px;
}

.col-3 {
    background-color: red;
    height: 600px;
}

.col-9 {
    background-color: green;
    height: 600px;
}

.cards {
    background-color: orange;
    height: 300px;
}

.footer {
    background-color: purple;
    height: 200px;
}